.lightBox {
    padding: 10px;
    height: 640px;
    width: 220px;
    background-color: gray;
    border: solid, 10px, black;
}

.redRing {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    border: solid, 5px, darkred;
}
.yellowRing {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
}
.greenRing {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
}

.car {
    margin: 10px;
    height: 200px;
    width: 150px;
    background-color: cadetblue;
}

.standby{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}
